process {

    withName: '.*:BEDTOOLS_SUBTRACT' {
        ext.prefix = { "${meta.id}_subtract" }
    }

    withName: '.*:BEDTOOLS_COMPLEMENT' {
        ext.prefix = { "${meta.id}_filter" }
    }

    withName: '.*:BCFTOOLS_REHEADER' {
        ext.prefix = { "${meta.id}_reheader" }
        ext.args = { "--samples-list '${meta.id}'" }
    }

    withName: '.*:CANVAS_GERMLINE' {
        ext.prefix = { "${meta.id}_canvas"}
    }

    withName: '.*:GAWK_CREATESEG' {
        ext.suffix = 'seg'
        ext.prefix = {"${meta.id}_germline_CNV"}
    }

    withName: '.*:BCFTOOLS_NORM' {
        ext.prefx = { "${meta.id_norm}"}
        ext.args = {[
            '--check-ref s',
            '--do-not-normalize',
            '--output-type v'
        ].join(' ')}
    }

    withName: '.*:GAWK_REFORMAT' {
        ext.suffix = 'vcf'
        ext.prefix = {"${meta.id}.formatted"}
        ext.args = { "-v expected_x_cn=${meta.sex}" }
    }

    withName: '.*:BCFTOOLS_VIEW' {
        ext.args = {[
            '--output-type z',
            '--apply-filters PASS,q7,L10kb',
            '--exclude \'ID ~ "Canvas:REF"\'',
        ].join(' ')}
    }
}
